@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 3px 3px 2px;
  isolation: isolate;

  position: absolute;
  height: 32px;
  left: 0%;
  right: 0%;
  top: 0%;
  background: #faf9f4;
}
.left {
  width: 54px;
  height: 13px;

  /* Inside auto layout */
  left: 0;
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.right {
  width: 78.26px;
  height: 13px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

.time {
  position: relative;
  width: 54px;
  height: 22px;
  left: 0px;
  top: 5.13%;
  /* Default/Body/Bold */

  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  /* identical to box height, or 129% */

  text-align: center;
  letter-spacing: -0.408px;
  font-feature-settings: "case" on;

  /* System Colours/Label Colour/Primary/Light */
  color: #000000;
}

.cellular {
  position: relative;
  left: 0%;
  right: 33.33%;
  top: 5.13%;
  bottom: 2.56%;

  color: #141e0d;
}

.wifi {
  position: relative;
  left: 0%;
  right: 33.33%;
  top: 5.13%;
  bottom: 2.56%;

  color: #141e0d;
}

.battery {
  position: relative;
  left: 0%;
  right: 33.33%;
  top: 5.13%;
  bottom: 2.56%;
}

.nav {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  /* Inside auto layout */
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 30px;
  background: #faf9f4;
}
.nav-left {
  left: 0px;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}
.nav-right {
  right: 0px;
  margin-top: 25px;
}
.arrow {
  width: 24px;
  height: 24px;
  /* Inside auto layout */
  margin: auto;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.trip {
  height: 30px;
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #141e0d;
  /* Inside auto layout */
  margin-left: 10px;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.edit {
  width: 20px;
  height: 20px;
  position: relative;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  background: #faf9f4;
}
.det-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  /* gap: 16px; */
  width: 100px;
  height: 48px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
.grp-icon {
  box-sizing: border-box;
  position: relative;
  width: 60px;
  height: 40px;
  left: 0px;
  top: 0px;
  background: #faf9f4;
  border: 1px solid #faf9f4;
  border-radius: 48px;
}
.logo1 {
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -2px;
  top: -4px;
  border-radius: 48px 0px 0px 0px;
}
.logo2 {
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 24px;
  top: -4px;
  border-radius: 0px 48px 0px 0px;
}
.logo3 {
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 26px;
  left: -2px;
  top: 22px;
  border-radius: 0px 0px 0px 48px;
}
.logo4 {
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 24px;
  top: 22px;
  border-radius: 0px 0px 48px 0px;
}
.grp-name {
  width: 150px;
  height: 46px;
  position: relative;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #606060;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.det-right {
  right: 0px;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: none;
  order: 2;
}
.call {
  position: relative;
  left: 0%;
  right: 50%;
  /* top: 10.64%;
  bottom: 11.83%; */
  /* border: 2px solid #141e0d; */
}
.dots {
  position: relative;
  left: 0%;
  right: 50%;
  margin-right: 0px;
}

/* Chat section */

.self {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  /* Inside auto layout */
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 0px;
  background: #faf9f4;
}
.other {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  /* Inside auto layout */
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-top: 0px;
  background: #faf9f4;
}
.icon {
  width: 24px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.pic {
  box-sizing: border-box;
  position: relative;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;

  background: #faf9f4;
  border-radius: 999px;
}

.context-self {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 8px;
  width: 300px;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0%;
  background: #1c63d5;
  border-radius: 12px 12px 0px 12px;
  font-family: "Mulish", sans-serif;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.context {
  font-family: "Mulish", sans-serif;
  text-align: justify;
  padding: 8px;
  width: 300px;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  border-radius: 0px 12px 12px 12px;
  align-self: stretch;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
* {
  background: #faf9f4;
}
.reply {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-shadow: 10px 10px 18px #606060;
  display: flex;
}
.send {
  width: 100%;
  border: none;
  /* border-radius: 15px; */
  border-color: #606060;
  box-shadow: 5px 10px 18px #606060;
  background-color: #ffffff;
  height: 40px;
}
.paper-clip {
  background-color: #ffffff;
}
.send-arrow {
  background-color: #ffffff;
}
.chat-body {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  overflow-y: scroll;
}
.chat-body::-webkit-scrollbar {
  display: none;
}
.top {
  top: 0%;
  margin: 0%;
  right: 0px;
  position: sticky;
  padding-right: 0px;
  z-index: 1;
  /* box-shadow: 0px 5px 7px #606060; */
}
